.center {
    text-align: center;
    width: 100%;
}

.pull-right {
    display: none !important;
}

.font-settings {
    display: none !important;
}

.book-summary ul.summary li a.header {
    padding: 10px 15px;
    padding-top: 20px;
    text-transform: uppercase;
    color: #939da3
}
