.center {
    text-align: center;
    width: 100%;
}

.pull-right {
    display: none !important;
}

.font-settings {
    display: none !important;
}

li.chapter {
    text-transform: uppercase;
    color: #939da3;
}

.gitbook-link {
    display: none;
}