@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSqRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBrrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src: local('Merriweather Italic'), local('Merriweather-Italic'), url(https://fonts.gstatic.com/s/merriweather/v13/So5lHxHT37p2SS4-t60SlL52ooqJRs02xO3mONBoqeI.woff) format('woff');
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 400;
	font-size: 2em;
	line-height: 1.5em;
	color: #7A8599;
}

h1 {
    font-weight: 300;
    font-size: 1.6em;
    line-height: 1.25em;
    color: #353D4C;
    margin: 0 auto 0.625em;
    padding: 0;
}

.book-body {
    background: #F3F4F8;
}

.center {
    text-align: center;
    width: 100%;
}

.pull-right {
    display: none !important;
}

.font-settings {
    display: none !important;
}

li.chapter {
    text-transform: uppercase;
    color: #939da3;
}

ul.articles > li.chapter {
    text-transform: none;
    color: red;
}

.gitbook-link {
    display: none;
}

.navigation-next, .navigation-prev {
    display: none;
}

.book-header .h1 {
    display: none;
}